footer
  background-image: url('/images/square_bg_@2X.png')
  background-repeat: repeat
  border-top: 2px solid rgba(51, 51, 51, 0.1)
  margin-top: 40px

  #copyright
    padding: 20px 0 30px 50px
    margin: 0 auto
    font-size: 0.75em
    color: hsl(0, 0%, 60%)
    text-align: center

  #disqus_thread
    max-width: 900px
    margin: 0 auto
