header
  text-align: center
  background-image: url('/images/square_bg_@2X.png')
  background-repeat: repeat
  color: black
  margin: 0
  // background: #ff3333
  // background: -moz-linear-gradient(135deg, black ,#ff3333, yellow, #ff3333, black)
  // background: linear-gradient(135deg, black ,#ff3333, yellow, #ff3333, black)
  // background: -webkit-linear-gradient(135deg, black ,#ff3333, yellow, #ff3333, black)

  h1
    font-size: 2.5em

  a
    color: black
    text-decoration: none

  li
    display: inline
    padding: 0px 10px 0px 10px

  #myphoto
    max-height: 150px
    margin: 40px 0px 0px 0px
    border: 10px solid white
    border-radius: 20px

    @media (max-width: 500px)
        max-width:100%
        margin: 10px 0 0 0

  #top-menu
    background: hsla(0, 0%, 100%, 0.4) none repeat scroll 0% 0%
    width: 100%
    color: hsla(0, 0%, 25%, 1.0)
    font-weight: bolder
    font-size: 0.8em
