header
  font-family: 'Permanent Marker', cursive
  text-align: center
  padding: 40px
  background-image: url('/images/square_bg_@2X.png')
  background-repeat: repeat
  border-bottom: 2px solid rgba(51, 51, 51, 0.1)

  h1.title
    font-family: inherit
    font-size: 3em
    margin-top: 0

    @media (min-width: 600px)
      font-size: 4em

  @import 'logo'
  img.logo
    max-width: 270px

  a
    text-decoration: none
    color: hsl(0, 88%, 34%)

    &:hover
      color: hsl(0, 88%, 80%)
      transition: color 0.3s
