@import 'header'
@import 'typography'

body
  margin: 0
  line-height: 1.5em
  text-align: justify
  color: hsla(0, 0%, 15%, 1.0)

.posts
  list-style: none
  text-align: center
  display: flex
  flex-wrap: wrap
  margin: auto
  justify-content: flex-start
  max-width: 1050px

  a
    flex-grow: 1
    align-items: center
    justify-content: center
    display: flex

    padding: 10px
    margin: 25px
    height: 228px
    width: 228px
    font-size: 1.5em
    text-decoration: none
    transition: color 0.3s

    border: solid 2px black
    border-radius: 10px
    color: black
    transition: color 0.3s, border 0.3s, padding 0.3s
    box-sizing: border-box

    &:visited
      border-color: hsl(240, 10%, 55%)
      color: hsl(240, 10%, 55%)

    &:hover
      color: hsl(13, 100%, 52%)
      border: solid 10px hsl(13, 100%, 52%)
      padding: 1px

.content
  a
    color: black
    transition: color 0.3s

    &:visited
      color: hsl(240, 10%, 55%)

    &:hover
      color: hsl(13, 100%, 52%)

#date
  border-top: 1px solid rgba(51, 51, 51, 0.1)
  border-bottom: 1px solid rgba(51, 51, 51, 0.1)
  font-weight: 300

article
  padding: 20px
  margin: 0 auto
  max-width: 700px

pre
  overflow: auto
  background: #F9F9FA none repeat scroll 0% 0%
  border: 1px solid rgba(51, 51, 51, 0.1)
  padding: 0 10px

#disqus_thread
  max-width: 700px
  margin: 0 auto

#copyright
  // max-width: 700px
  padding: 20px 0 30px 50px
  margin: 0 auto
  border-top: 2px solid rgba(51, 51, 51, 0.1)
  font-size: 0.75em
  color: hsl(0, 0%, 60%)
