a
  display: block
  box-sizing: border-box

  margin: 40px

  color: hsl(240, 10%, 55%)
  font-size: 1.5em
  text-decoration: none
  background: white

  transition: color 0.3s

  h5
    color: black
    transition: color 0.3s


  &:hover
    color: hsl(13, 100%, 52%)
    h5
     color: hsl(13, 100%, 52%)
