@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Quattrocento|EB+Garamond&subset=latin,latin-ext")

light = 300


body
  font-family: 'Lato', sans-serif

  .menu
    font-family: 'Quattrocento', serif

  h1, h2
    font-family: 'EB Garamond', serif
    font-weight: 300

  h3, h4, h5, h6
    font-weight: light
