@import url("https://fonts.googleapis.com/css?family=Lustria|Lato:400,300,700&subset=latin,latin-ext")

body
  font-family: 'Lato', sans-serif

h1
  font-family: 'Lustria', serif
  font-size: 2em
  line-height: normal
  font-weight: 600
  @media (max-width: 500px)
    font-size: 36px
    margin-top: 10px
