

body {
  margin: 0;
}

header {
  text-align: center;
  background: #ff3333;
  background-size: cover;
  color: white;
}

header a {
  color: white;
}

h1 {
  font-size: 70px;
}

header ul {
  padding: 10px;
  background: #CACAC8;
}

header li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

#myphoto {
  max-height: 200px;
  margin: 40px 0px 0px 0px;
  border: 10px solid white;
  border-radius: 20px;
}
article {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
  }
  li {
    display: block;
    padding: 5px;
  }
}
