@charset "utf-8";
/* CSS Document */

.niebieski {
	color: #4098DF;
}

.szary {
	color: #787878;
}

#top_center h1 {
	font-size: 70px;
	font-weight: 400;
	/*wysokość interlinii: 84px;*/
	line-height: 84px;
	margin-bottom: 6px;
	margin-top: 30px
}

#top_center h2 {
	font-size: 26px;
	line-height: 36px
}

#top_center {
  margin: 0;
  padding: 0;
  text-align: center; /* !!! */
}



/*body{
	background:url(../images/background.jpg);}*/

/*div{
	background:url(../images/home-icon1.jpg) no-repeat left top;
	}

div{
	background:url(../images/home-icon2.jpg) no-repeat left top;
	}

div{
	background:url(../images/home-icon3.jpg) no-repeat left top;
	}

*/

#clear{
	clear:both;}

#clear2{
	clear:both;}
