

.container-fluid {
  background-color: pink;
  font-family: 'Roboto';
  sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.my-cat-logo {
  margin: 10px;
}

.github-round {
  border-radius: 50px;
}

#social-media-icons li{
  display: inline;
}



/*
TODO: add different color to sidebar
.footer.sidebar{
  background-color: red;
}*/
