

.container-fluid {
  background-color: pink;
  font-family: 'Roboto',
  sans-serif;
}

.my-cat-logo {
  border: 10px;
}

/*.footer.sidebar{
  background-color: red;
}*/

#social-media-icons li{
  display: inline;
}
